.header {
  display: flex;
  background: #212121;
}

.select {
  display: inline-block;
  position: relative;
  width: 33%;
  padding: 0px 30px;
  text-align: left;
}

.cards-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (max-width: 1280px) {
  .cards-content {
    flex-direction: column;
  }
}
