<div class="header">
  <mat-form-field class="select">
    <mat-select placeholder="Please, choose a car">
      <mat-option *ngFor="let car of carsList" (click)="showCarDetails(car.id,'one')" [value]="car.id">{{car.model}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="select">
    <mat-select placeholder="Please, choose a car">
      <mat-option *ngFor="let car of carsList" (click)="showCarDetails(car.id,'two')" [value]="car.id">{{car.model }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="select">
    <mat-select placeholder="Please, choose a car">
      <mat-option *ngFor="let car of carsList" (click)="showCarDetails(car.id,'three')" [value]="car.id">{{car.model }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="cards-content">

  <app-car-detail [id]="carIdOne"></app-car-detail>
  <app-car-detail [id]="carIdTwo"></app-car-detail>
  <app-car-detail [id]="carIdThree"></app-car-detail>
</div>
