.content {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .content-size {
    width: 50%;
  }

  .content-full {
    width: 100%;
    flex: 1;
  }
}


.card {

  &__image {
    margin: auto;
    width: 100%;
    max-height: 45vh;
    min-height: 45vh;
  }

  &__detail {
    display: block;
    margin: 5px;
  }

  &__description {
    text-align: justify;
  }

  .mat-card-image:first-child {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1280px) {
  .content-size {
    width: 80% !important;
  }
}
